:root {
    --active-font-family: "Roboto", Helvetica;
    --active-font-size: 18px;
    --active-font-style: normal;
    --active-font-weight: 700;
    --active-letter-spacing: 0px;
    --active-line-height: 88.68749737739563%;
    --blue: rgba(0, 173, 232, 1);
    --neutraldarkest-grey: rgba(23, 27, 47, 1);
    --neutrallighter-grey: rgba(245, 246, 249, 1);
    --neutralmid-grey: rgba(98, 103, 122, 1);
    --neutralwhite: rgba(255, 255, 255, 1);
    --regular-body14-font-family: "Inter", Helvetica;
    --regular-body14-font-size: 14px;
    --regular-body14-font-style: normal;
    --regular-body14-font-weight: 400;
    --regular-body14-letter-spacing: 0.3499999940395355px;
    --regular-body14-line-height: 170.00000476837158%;
    --semibold-body14-font-family: "Open Sans", Helvetica;
    --semibold-body14-font-size: 14px;
    --semibold-body14-font-style: normal;
    --semibold-body14-font-weight: 600;
    --semibold-body14-letter-spacing: 0.3499999940395355px;
    --semibold-body14-line-height: 150%;
    --semibold-h6-16-font-family: "Open Sans", Helvetica;
    --semibold-h6-16-font-size: 16px;
    --semibold-h6-16-font-style: normal;
    --semibold-h6-16-font-weight: 600;
    --semibold-h6-16-letter-spacing: 0.3499999940395355px;
    --semibold-h6-16-line-height: 150%;
    --white: rgba(255, 255, 255, 1);
}
